* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #222;
    max-width: 100%;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("images/hero-snacks.png");
    background-size: cover;
    background-position: center;
    max-height: fit-content;
    padding-bottom: 100px;
    color: white;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* HERO TEXT */
.hero-text {
    text-align: center;
    margin-top: px;
    padding: 0 20px;
}

.hero-text h2 {

    margin-top: 15px;
    font-size: 48px;
    margin-bottom: 5px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #ff4757;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
}

/* FEATURES */
.features {
    display: flex;
    flex-wrap: wrap;       /* allows wrapping on small screens */
    justify-content: center;
    gap: 30px;
    padding: 80px 40px;
    background: white;
}

.feature-card {
    flex: 1 1 280px;       /* grow, shrink, base width */
    max-width: 300px;      /* optional cap */
    text-align: center;
}

.feature-card img {
    width: 100%;
    height: 180px;         /* crop height */
    object-fit: cover;     /* crop without stretching */
    border-radius: 12px;
}


.feature-card h3 {
    margin-top: 15px;
    font-size: 20px;
}

.feature-card p {
    font-size: 14px;
    margin-top: 8px;
}

/* EVENTS */
.events {
    background: #222;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.events h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.events ul {
    list-style: none;
    margin-bottom: 20px;
}

.events li {
    margin: 10px 0;
}

/* SOCIAL */
.social {
    padding: 70px 20px;
    text-align: center;
}

.social h2 {
    margin-bottom: 30px;
}

.social-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.social-grid img {
    width: 100%;
    max-width: 300px;
    height: 200px;          /* crop height */
    object-fit: cover;
    border-radius: 10px;
}


/* FOOTER */
.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
